# public uri
VITE_QFLOW_URI=https://staging-rc-website.rabbitinternet.com/

VITE_ENV=
VITE_API_ENDPOINT=http://localhost:4432
VITE_GATEWAY_ENDPOINT=http://localhost:4432/api/bff
VITE_KRATOS_URL=http://localhost:4432/dev/.ory/kratos
VITE_RECOVERY_URL=http://localhost:3100/api/{user}/recovery
VITE_GO_GATEWAY_ENDPOINT=http://localhost:4432/api/gff

# Feature Flags
VITE_HEALTH_REVAMP=false
VITE_REBRANDING=false
VITE_HIDE_AGENT_ADD_LEAD_BUTTON=true
VITE_HIDE_TEAMS_INSURER_FILTER=true
VITE_CUSTOMER_INFORMATION=false
VITE_WEBSOCKET_ENABLED=true
VITE_SHOW_QUOTATION_HISTORY=true
VITE_SHOW_SUB_MODEL_YEAR_IMPORT=true

# Websocket subscription
VITE_SOCKET_ENDPOINT=ws://localhost:4432/api/pushedli

# Lint flags
DISABLE_ESLINT_PLUGIN=true
ESLINT_NO_DEV_ERRORS=true

# freshdesk email address
VITE_FRESHDESK_EMAIL=support@rabbit-staging.freshdesk.com

# FlagSmith config
VITE_FLAGSMITH_ENVIRONMENT_ID=44DuKNKMZ55BAL5knMgmNG

# new relic configuration
VITE_NEW_RELIC_ACCOUNT_ID=3275510
VITE_NEW_RELIC_APPLICATION_ID=538469230
VITE_NEW_RELIC_LICENSE_KEY=NRJS-4116f3ed5d767e22790

# Chatwoot
VITE_CHATWOOT_URL=http://localhost:8012/app/accounts/1/dashboard
