/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

@layer components {
  .page-background {
    @apply h-full bg-white flex flex-col relative pt-2.5;
  }
}

@layer utilities {
  .tooltip-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .tooltip-scrollbar::-webkit-scrollbar-track {
    background: #f7f4ed;
  }

  .tooltip-scrollbar::-webkit-scrollbar-thumb {
    background: #005098;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
  }
}

.cancellation-comment-container .MuiTimelineItem-missingOppositeContent:before {
 flex: 0 !important;
 padding: 0 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
